global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'fastapi-app'
    metrics_path: /metrics
    static_configs:
      - targets: ['127.0.0.1:8000']
